:root {
    --accent: #2A3B49;
    --background: white;
    --teal: #7BFFE9;
}

body {
    font-family: 'Montserrat';
    width: 100%;
}

/* Heres the Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    height: 50px;
}

header div a {
    color: var(--teal);
    font-size: 36px;
    margin-left: 20px;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    margin-right: 20px;
    margin-left: 20px; 
    color: var(--background);
} 

/* Heres the main */
main {
    position: relative;
}

main p {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
    width: 40%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 150px 150px 150px 0;
    font-size: 30px;
    padding: 35px;
    background-color: var(--accent);
    text-align: center;
    line-height: 37px;
}

main a {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 36px;
    color: var(--teal);
    border: solid var(--teal);
    border-radius: 60px;
    padding: 30px 50px;
}

.man-camera {
    width: 100%;
    position: relative;
}

.bckground-img {
    background: url('../assets/man-throw-camera-pixify.png');
    background-position: center;
    background-size: cover;
    height: calc(100vh - 50px);
}
