:root {
    --accent: #2A3B49;
    --background: white;
    --teal: #7BFFE9;
}

body {
    font-family: 'Montserrat';
    width: 100%;
}

/* Heres the Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    height: 50px;
}

header div a {
    color: var(--teal);
    font-size: 36px;
    margin-left: 20px;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    margin-right: 20px;
    margin-left: 20px; 
    color: var(--background);
} 