:root {
    --accent: #2A3B49;
    --background: white;
    --teal: #7BFFE9;
}

body {
    font-family: 'Montserrat';
    width: 100%;
}

/* Heres the Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    height: 50px;
}

header div a {
    color: var(--teal);
    font-size: 36px;
    margin-left: 20px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav a {
    margin-right: 20px;
    margin-left: 20px; 
    color: var(--background);
} 

.drk-mode-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
    background-color: #2A3B49;
    color: #7BFFE9;
    margin-right: 20px;
    margin-left: 10px;
}

/* time for the main */

main h1 {
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#submissions-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
}

.submission {
    width: 350px;
    height: 215px;
    border-radius: 10px;
    margin: 20px;
}